*{
    box-sizing: border-box;
}
div, span{
    width:100px;
    height: 100px;
}
.container{
    background-color: slategray;
    width: 800px;
    height: 800px;
}

div{
    background-color: pink;
    display: inline-block;

}

.box{
    background-color: pink;
    display: inline-block;
    position: absolute;
    left: 100px;
}

span{
    background-color: skyblue;
}